@model ForgotPasswordVM
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <link rel="stylesheet" href="~/css/style.css">
    <title>HardJob</title>
</head>
<body>
    <div class='box'>
        <form method="post">
            <div class='box-form'>
                <div class='box-login-tab'></div>
                <div class='box-login-title'>
                    <div class='i i-login'></div>
                    <h2>Forgot Password</h2>
                </div>
                <div class='box-login'>
                    <div class='fieldset-body' id='login_form'>
                        <button onclick="openForgotInfo();" class='b b-form i i-more' title='Mais Informações'></button>
                        <p class="field">
                            We Will Send You Message To Your Email
                        </p>
                        <p class='field'>
                            <label asp-for="Email"></label>
                            <input asp-for="Email" />
                            <span asp-validation-for="Email"></span>
                        </p>
                        <input type='submit' id='do_login' value='GET STARTED' title='Get Started' />
                    </div>
                </div>
            </div>

        </form>

        <div class='box-info'>
            <p>
                <button onclick="closeForgotInfo();" class='b b-info i i-left' title='Back to Sign In'></button>
                <h3>Need Help?</h3>
            </p>
            <div class='line-wh'></div>
            <a onclick="" asp-action="Register" class='btn b-support' title='Forgot Password?'> Register</a>
            <div class='line-wh'></div>
            <a onclick="" asp-action="Login" class='btn b-cta' title='Sign up now!'> LOGIN </a>
        </div>
    </div>
    <script src="~/js/forgot.js"></script>
</body>
</html>
