
@{
    ViewData["Title"] = "Delivery";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="grid__item medium-up--three-quarters medium-up--push-one-eighth">

                <header class="section-header">
                    <h3 class="section-header__title">Delivery Information</h3>
                </header>

                <div class="rte rte--nomargin">
                    <meta charset="utf-8">
                    <meta charset="utf-8">
                    <h3>
                        <strong>UK&nbsp;ORDERS – From £3.60<br></strong><span style="color: #ff2a00;">
                            <strong>
                                (FREE
                                SHIPPING ON ORDERS OVER £50)
                            </strong>
                        </span>
                    </h3>
                    <p>
                        Standard&nbsp;UK Orders placed before 12:00 PM&nbsp;GMT&nbsp;Monday to Friday will be
                        processed and dispatched the same day via Royal Mail. Standard&nbsp;UK deliveries take
                        approx. 2-3 working days.
                    </p>
                    <h3><strong>UK NEXT DAY ORDERS – From £9.99</strong></h3>
                    <p>
                        Orders placed before 12:00 PM GMT Monday to Friday will be delivered the next working day.
                    </p>
                    <p>Orders placed after 12:00 PM GMT on Friday will be delivered on Tuesday.</p>
                    <h3><strong>EU ORDERS – From £9.99</strong></h3>
                    <p>
                        All EU orders placed before 12:00 PM&nbsp;GMT&nbsp;Monday to Friday will be processed and
                        dispatched the same day via DHL. European deliveries take approx. 6-8 working days.
                    </p>
                    <p>
                        Please note: Alpha Creations&nbsp;Limited&nbsp;have no control over any delays caused by
                        Customs, should delays arise due to this, Alpha Creations&nbsp;Limited&nbsp;are not
                        responsible. Alpha Creations Limited are not responsible for any taxes or VAT payable at the
                        destination country. This will beed to be paid for by the customer.&nbsp;
                    </p>
                    <h3>
                        <strong>WORLDWIDE ORDERS – From £14.99</strong>&nbsp;
                    </h3>
                    <p>
                        All International orders placed before 12:00 PM&nbsp;GMT&nbsp;Monday to Friday will be
                        processed and dispatched the same day via DHL. International delivery times vary depending
                        upon destination, however, delivery is usually complete within 10-12 working days.&nbsp;
                    </p>
                    <p>
                        Please note: Alpha Creations&nbsp;Limited&nbsp;have no control over any delays caused by
                        Customs, should delays arise due to this, Alpha Creations&nbsp;Limited&nbsp;are not
                        responsible. Alpha Creations Limited are not responsible for any taxes or VAT payable at the
                        destination country. This will beed to be paid for by the customer.&nbsp;
                    </p>
                    <meta charset="utf-8">
                    <p>
                        <strong>
                            Alpha Creations&nbsp;Limited maintains full ownership of the products until full
                            payment has been obtained.
                        </strong>
                    </p>
                </div>

            </div>
        </div>
    </div>

    <div class="shopify-footer-section-stockits">
        <a href="#" class="article__grid-image">
            <div class="image-wrap" style="height: 0; padding-bottom: 25.142857142857146%;">
                <img class="lazyautosizes lazyloaded" data-widths="[180, 360, 540, 720, 900, 1080]"
                     data-aspectratio="3.977272727272727" data-sizes="auto" alt=""
                     data-srcset="//cdn.shopify.com/s/files/1/0206/6982/5088/files/FINDUS-INSTORE_01-3_180x.png?v=1581430862 180w, //cdn.shopify.com/s/files/1/0206/6982/5088/files/FINDUS-INSTORE_01-3_360x.png?v=1581430862 360w, //cdn.shopify.com/s/files/1/0206/6982/5088/files/FINDUS-INSTORE_01-3_540x.png?v=1581430862 540w, //cdn.shopify.com/s/files/1/0206/6982/5088/files/FINDUS-INSTORE_01-3_720x.png?v=1581430862 720w, //cdn.shopify.com/s/files/1/0206/6982/5088/files/FINDUS-INSTORE_01-3_900x.png?v=1581430862 900w, //cdn.shopify.com/s/files/1/0206/6982/5088/files/FINDUS-INSTORE_01-3_1080x.png?v=1581430862 1080w"
                     sizes="699px"
                     srcset="//cdn.shopify.com/s/files/1/0206/6982/5088/files/FINDUS-INSTORE_01-3_180x.png?v=1581430862 180w, //cdn.shopify.com/s/files/1/0206/6982/5088/files/FINDUS-INSTORE_01-3_360x.png?v=1581430862 360w, //cdn.shopify.com/s/files/1/0206/6982/5088/files/FINDUS-INSTORE_01-3_540x.png?v=1581430862 540w, //cdn.shopify.com/s/files/1/0206/6982/5088/files/FINDUS-INSTORE_01-3_720x.png?v=1581430862 720w, //cdn.shopify.com/s/files/1/0206/6982/5088/files/FINDUS-INSTORE_01-3_900x.png?v=1581430862 900w, //cdn.shopify.com/s/files/1/0206/6982/5088/files/FINDUS-INSTORE_01-3_1080x.png?v=1581430862 1080w">
                <noscript>
                    <img class="lazyloaded"
                         src="//cdn.shopify.com/s/files/1/0206/6982/5088/files/FINDUS-INSTORE_01-3_400x.png?v=1581430862"
                         alt="&lt;center&gt;HARDCORE STOCKISTS&lt;/center&gt;">
                </noscript>
            </div>
        </a>
    </div>
</div>