
@{
    ViewData["Title"] = "Policy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="grid__item medium-up--three-quarters medium-up--push-one-eighth">

        <header class="section-header">
            <h1 class="section-header__title">Privacy Policy</h1>
        </header>

        <div class="rte rte--nomargin">
            <div><strong>SECTION 1 - WHAT DO WE DO WITH YOUR INFORMATION?</strong></div>
            <div></div>
            <div>
                When you purchase something from our store, as part of the buying and selling process, we collect
                the personal information you give us such as your name, address and email address.
            </div>
            <div></div>
            <div>
                When you browse our store, we also automatically receive your computer’s internet protocol (IP)
                address in order to provide us with information that helps us learn about your browser and operating
                system.
            </div>
            <div></div>
            <div>
                Email marketing (if applicable): With your permission, we may send you emails about our store, new
                products and other updates.
            </div>
            <div></div>
            <div></div>
            <div><strong>SECTION 2 - CONSENT</strong></div>
            <div></div>
            <div>How do you get my consent?</div>
            <div></div>
            <div>
                When you provide us with personal information to complete a transaction, verify your credit card,
                place an order, arrange for a delivery or return a purchase, we imply that you consent to our
                collecting it and using it for that specific reason only.
            </div>
            <div></div>
            <div>
                If we ask for your personal information for a secondary reason, like marketing, we will either ask
                you directly for your expressed consent, or provide you with an opportunity to say no.
            </div>
            <div></div>
            <div></div>
            <div>How do I withdraw my consent?</div>
            <div></div>
            <div>
                If after you opt-in, you change your mind, you may withdraw your consent for us to contact you, for
                the continued collection, use or disclosure of your information, at anytime, by contacting us at <a href="https://gohardcore.com/pages/contact-support"
                                                                                                                    class="text-link">orders@gohardcore.com</a>&nbsp;or mailing us at:
                <div>
                    <span>Alpha Creations Limited, 125 Eastern Avenue, Ilford, Essex, IG4 5AN</span><span>
                        , United
                        Kingdom
                    </span>
                </div>
            </div>
            <div></div>
            <div></div>
            <div><strong>SECTION 3 - DISCLOSURE</strong></div>
            <div></div>
            <div>
                We may disclose your personal information if we are required by law to do so or if you violate our
                Terms of Service.
            </div>
            <div></div>
            <div></div>
            <div><strong>SECTION 4 - SHOPIFY</strong></div>
            <div></div>
            <div>
                Our store is hosted on Shopify Inc. They provide us with the online e-commerce platform that allows
                us to sell our products and services to you.
            </div>
            <div></div>
            <div>
                Your data is stored through Shopify’s data storage, databases and the general Shopify application.
                They store your data on a secure server behind a firewall.
            </div>
            <div></div>
            <div></div>
            <div>Payment:</div>
            <div></div>
            <div>
                If you choose a direct payment gateway to complete your purchase, then Shopify stores your credit
                card data. It is encrypted through the Payment Card Industry Data Security Standard (PCI-DSS). Your
                purchase transaction data is stored only as long as is necessary to complete your purchase
                transaction. After that is complete, your purchase transaction information is deleted.
            </div>
            <div></div>
            <div>
                All direct payment gateways adhere to the standards set by PCI-DSS as managed by the PCI Security
                Standards Council, which is a joint effort of brands like Visa, MasterCard, American Express and
                Discover.
            </div>
            <div></div>
            <div>
                PCI-DSS requirements help ensure the secure handling of credit card information by our store and
                its service providers.
            </div>
            <div></div>
            <div>
                For more insight, you may also want to read Shopify’s Terms of Service here or <a href="https://www.shopify.com/legal/terms" class="text-link">Privacy Statement here</a>.
            </div>
            <div></div>
            <div></div>
            <div><strong>SECTION 5 - THIRD-PARTY SERVICES</strong></div>
            <div></div>
            <div></div>
            <div>
                In general, the third-party providers used by us will only collect, use and disclose your
                information to the extent necessary to allow them to perform the services they provide to us.
            </div>
            <div></div>
            <div>
                However, certain third-party service providers, such as payment gateways and other payment
                transaction processors, have their own privacy policies in respect to the information we are
                required to provide to them for your purchase-related transactions.
            </div>
            <div></div>
            <div>
                For these providers, we recommend that you read their privacy policies so you can understand the
                manner in which your personal information will be handled by these providers.
            </div>
            <div></div>
            <div>
                In particular, remember that certain providers may be located in or have facilities that are
                located in a different jurisdiction than either you or us. So if you elect to proceed with a
                transaction that involves the services of a third-party service provider, then your information may
                become subject to the laws of the jurisdiction(s) in which that service provider or its facilities
                are located.
            </div>
            <div></div>
            <div>
                As an example, if you are located in Canada and your transaction is processed by a payment gateway
                located in the United States, then your personal information used in completing that transaction may
                be subject to disclosure under United States legislation, including the Patriot Act.
            </div>
            <div></div>
            <div>
                Once you leave our store’s website or are redirected to a third-party website or application, you
                are no longer governed by this Privacy Policy or our website’s Terms of Service.
            </div>
            <div></div>
            <div></div>
            <div>Links</div>
            <div></div>
            <div>
                When you click on links on our store, they may direct you away from our site. We are not
                responsible for the privacy practices of other sites and encourage you to read their privacy
                statements.
            </div>
            <div></div>
            <div></div>
            <div><strong>SECTION 6 - SECURITY</strong></div>
            <div></div>
            <div>
                To protect your personal information, we take reasonable precautions and follow industry best
                practices to make sure it is not inappropriately lost, misused, accessed, disclosed, altered or
                destroyed.
            </div>
            <div></div>
            <div>
                If you provide us with your credit card information, the information is encrypted using secure
                socket layer technology (SSL) and stored with a AES-256 encryption. &nbsp;Although no method of
                transmission over the Internet or electronic storage is 100% secure, we follow all PCI-DSS
                requirements and implement additional generally accepted industry standards.
            </div>
            <div></div>
            <div></div>
            <div><strong>COOKIES</strong></div>
            <div></div>
            <div>
                Here is a list of cookies that we use. We’ve listed them here so you can choose if you want to
                opt-out of cookies or not.
            </div>
            <div></div>
            <div>
                _session_id, unique token, sessional, Allows Shopify to store information about your session
                (referrer, landing page, etc).
            </div>
            <div></div>
            <div>
                _shopify_visit, no data held, Persistent for 30 minutes from the last visit, Used by our website
                provider’s internal stats tracker to record the number of visits
            </div>
            <div></div>
            <div>
                _shopify_uniq, no data held, expires midnight (relative to the visitor) of the next day, Counts the
                number of visits to a store by a single customer.
            </div>
            <div></div>
            <div>
                cart, unique token, persistent for 2 weeks, Stores information about the contents of your cart.
            </div>
            <div></div>
            <div>_secure_session_id, unique token, sessional</div>
            <div></div>
            <div>
                storefront_digest, unique token, indefinite If the shop has a password, this is used to determine
                if the current visitor has access.
            </div>
            <div></div>
            <div></div>
            <div></div>
            <div><strong>SECTION 7 - AGE OF CONSENT</strong></div>
            <div></div>
            <div>
                By using this site, you represent that you are at least the age of majority in your state or
                province of residence, or that you are the age of majority in your state or province of residence
                and you have given us your consent to allow any of your minor dependents to use this site.
            </div>
            <div></div>
            <div></div>
            <div><strong>SECTION 8 - CHANGES TO THIS PRIVACY POLICY</strong></div>
            <div></div>
            <div>
                We reserve the right to modify this privacy policy at any time, so please review it frequently.
                Changes and clarifications will take effect immediately upon their posting on the website. If we
                make material changes to this policy, we will notify you here that it has been updated, so that you
                are aware of what information we collect, how we use it, and under what circumstances, if any, we
                use and/or disclose it.
            </div>
            <div></div>
            <div>
                If our store is acquired or merged with another company, your information may be transferred to the
                new owners so that we may continue to sell products to you.
            </div>
            <div></div>
            <div></div>
            <div><strong>QUESTIONS AND CONTACT INFORMATION</strong></div>
            <div></div>
            <div>
                If you would like to: access, correct, amend or delete any personal information we have about you,
                register a complaint, or simply want more information contact our Privacy Compliance Officer at
                <a asp-controller="Contact" asp-action="Contact"
                   class="text-link"><span>orders</span>HardJob</a>
                &nbsp;or by mail at Privacy Compliance
                Officer, <span>Alpha Creations Limited, 125 Eastern Avenue, Ilford, Essex, IG4 5AN</span><span>
                    ,
                    United Kingdom.
                </span>
            </div>
        </div>

    </div>

    <div class="shopify-footer-section-stockits">
        <a href="#" class="article__grid-image">
            <div class="image-wrap" style="height: 0; padding-bottom: 25.142857142857146%;">
                <img class="lazyautosizes lazyloaded" data-widths="[180, 360, 540, 720, 900, 1080]"
                     data-aspectratio="3.977272727272727" data-sizes="auto" alt=""
                     data-srcset="//cdn.shopify.com/s/files/1/0206/6982/5088/files/FINDUS-INSTORE_01-3_180x.png?v=1581430862 180w, //cdn.shopify.com/s/files/1/0206/6982/5088/files/FINDUS-INSTORE_01-3_360x.png?v=1581430862 360w, //cdn.shopify.com/s/files/1/0206/6982/5088/files/FINDUS-INSTORE_01-3_540x.png?v=1581430862 540w, //cdn.shopify.com/s/files/1/0206/6982/5088/files/FINDUS-INSTORE_01-3_720x.png?v=1581430862 720w, //cdn.shopify.com/s/files/1/0206/6982/5088/files/FINDUS-INSTORE_01-3_900x.png?v=1581430862 900w, //cdn.shopify.com/s/files/1/0206/6982/5088/files/FINDUS-INSTORE_01-3_1080x.png?v=1581430862 1080w"
                     sizes="699px"
                     srcset="//cdn.shopify.com/s/files/1/0206/6982/5088/files/FINDUS-INSTORE_01-3_180x.png?v=1581430862 180w, //cdn.shopify.com/s/files/1/0206/6982/5088/files/FINDUS-INSTORE_01-3_360x.png?v=1581430862 360w, //cdn.shopify.com/s/files/1/0206/6982/5088/files/FINDUS-INSTORE_01-3_540x.png?v=1581430862 540w, //cdn.shopify.com/s/files/1/0206/6982/5088/files/FINDUS-INSTORE_01-3_720x.png?v=1581430862 720w, //cdn.shopify.com/s/files/1/0206/6982/5088/files/FINDUS-INSTORE_01-3_900x.png?v=1581430862 900w, //cdn.shopify.com/s/files/1/0206/6982/5088/files/FINDUS-INSTORE_01-3_1080x.png?v=1581430862 1080w">
                <noscript>
                    <img class="lazyloaded"
                         src="//cdn.shopify.com/s/files/1/0206/6982/5088/files/FINDUS-INSTORE_01-3_400x.png?v=1581430862"
                         alt="&lt;center&gt;HARDCORE STOCKISTS&lt;/center&gt;">
                </noscript>
            </div>
        </a>
    </div>
</div>