
@{
    ViewData["Title"] = "ReturnInformation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">

    <div class="grid__item medium-up--three-quarters medium-up--push-one-eighth">

        <header class="section-header">
            <h1 class="section-header__title">Return Policy</h1>
        </header>

        <div class="rte rte--nomargin">
            <meta charset="utf-8">
            <h2>
                <a href="https://cdn.shopify.com/s/files/1/0206/6982/5088/files/RETURN_FORM.pdf?4855"
                   target="_blank" title="RETURNS FORM" rel="noopener noreferrer"
                   class="text-link">
                    <span>
                        <strong>
                            DOWNLOAD RETURNS
                            FORM
                        </strong>
                    </span>
                </a>
            </h2>
            <p>&nbsp;</p>
            <p>
                <span><strong>DAMAGED OR DEFECTIVE GOODS<br></strong><br></span>In the event that the product is
                faulty
                or defective for whatever reason, please email <a href="https://gohardcore.com/pages/contact-support?contact_posted=true#contact_form"
                                                                  class="text-link">support@gohardcore.com</a>&nbsp;with your name, order number and a detailed
                explanation of the defect, and where possible, please provide a digital photograph to help us
                process
                your query quickly. We will then reply to you as soon as we can and will tell you what to do next.
                Do
                not send the product back before we have authorised you to do so.<br><span></span>
            </p>
            <p>
                <span><strong>INCORRECT ITEM<br></strong><br></span>If you have received an incorrect item, please
                ensure
                you return the goods in their original condition within 14 days of them arriving with you. The
                returned
                goods are your responsibility until they are delivered to our returns department. For your
                protection,
                we recommend you use a postal service that insures you for the value of the goods you are returning.
                Upon satisfactory receipt of the returned product and confirmation that the item shipped was
                incorrect,
                we will refund your postage and either arrange for a replacement to be sent to you or we will refund
                you
                the cost of the product.
            </p>
            <p>
                <br><span><strong>WRONG SIZE<br></strong><br></span>If the product doesn’t fit you, then please
                arrange
                for it to be returned to the address below. Please ensure you return the goods in their original
                condition within 14 days of them arriving with you. The returned goods are your responsibility until
                they are delivered to our returns department. For your protection, we recommend you use a postal
                service
                that insures you for the value of the goods you are returning. Upon satisfactory receipt of the
                returned
                product we will issue you with a refund to the cost of your items. The cost of returning the item to
                us
                is your responsibility and the item is your responsibility until it reaches us. The original
                shipping
                charges are non-refundable unless the item is faulty or a mistake by us.
            </p>
            <p>
                <br><span><strong>RETURNS ADDRESS<br></strong><br></span>In case you have mislaid your Returns Label,
                the
                address to send returns to is:
            </p>
            <p>ALPHA CREATIONS LTD.<br><span>125 Eastern Avenue<br>Ilford<br>Essex<br>IG4 5AN<br></span></p>
        </div>

    </div>


    <div class="shopify-footer-section-stockits">
        <a href="#" class="article__grid-image">
            <div class="image-wrap" style="height: 0; padding-bottom: 25.142857142857146%;">
                <img class="lazyautosizes lazyloaded" data-widths="[180, 360, 540, 720, 900, 1080]"
                     data-aspectratio="3.977272727272727" data-sizes="auto" alt=""
                     data-srcset="//cdn.shopify.com/s/files/1/0206/6982/5088/files/FINDUS-INSTORE_01-3_180x.png?v=1581430862 180w, //cdn.shopify.com/s/files/1/0206/6982/5088/files/FINDUS-INSTORE_01-3_360x.png?v=1581430862 360w, //cdn.shopify.com/s/files/1/0206/6982/5088/files/FINDUS-INSTORE_01-3_540x.png?v=1581430862 540w, //cdn.shopify.com/s/files/1/0206/6982/5088/files/FINDUS-INSTORE_01-3_720x.png?v=1581430862 720w, //cdn.shopify.com/s/files/1/0206/6982/5088/files/FINDUS-INSTORE_01-3_900x.png?v=1581430862 900w, //cdn.shopify.com/s/files/1/0206/6982/5088/files/FINDUS-INSTORE_01-3_1080x.png?v=1581430862 1080w"
                     sizes="699px"
                     srcset="//cdn.shopify.com/s/files/1/0206/6982/5088/files/FINDUS-INSTORE_01-3_180x.png?v=1581430862 180w, //cdn.shopify.com/s/files/1/0206/6982/5088/files/FINDUS-INSTORE_01-3_360x.png?v=1581430862 360w, //cdn.shopify.com/s/files/1/0206/6982/5088/files/FINDUS-INSTORE_01-3_540x.png?v=1581430862 540w, //cdn.shopify.com/s/files/1/0206/6982/5088/files/FINDUS-INSTORE_01-3_720x.png?v=1581430862 720w, //cdn.shopify.com/s/files/1/0206/6982/5088/files/FINDUS-INSTORE_01-3_900x.png?v=1581430862 900w, //cdn.shopify.com/s/files/1/0206/6982/5088/files/FINDUS-INSTORE_01-3_1080x.png?v=1581430862 1080w">
                <noscript>
                    <img class="lazyloaded"
                         src="//cdn.shopify.com/s/files/1/0206/6982/5088/files/FINDUS-INSTORE_01-3_400x.png?v=1581430862"
                         alt="&lt;center&gt;HARDCORE STOCKISTS&lt;/center&gt;">
                </noscript>
            </div>
        </a>
    </div>
</div>