
@{
    ViewData["Title"] = "SizeGuide";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-12 medium-up--three-quarters">
            <div class="medium-up--three-quarters">
                <h1 class="size_guide_head text-center">Size Guide</h1>

                <div class="d-flex justify-content-center flex-column">
                    <p>
                        We understand how important the right fit is. The HARDCORE Size Guide offers
                        comprehensive information on our sizing, so you can feel confident that you are buying
                        the best size for you and your body type.
                    </p>
                    <p>
                        Across our range we have garments designed for specific demands which require
                        different
                        styles of fit. For additional peace of mind please refer to the individual product
                        description. If you’re on the borderline between two sizes, order the smaller size for a
                        tighter fit or the larger size for a looser fit.
                    </p>
                    <div class="text-center">
                        <img src="//cdn.shopify.com/s/files/1/0206/6982/5088/files/Screen_Shot_2019-04-23_at_15.09.43.png?v=1556028610"
                             alt="">
                    </div>
                    <div class="text-center">
                        <img src="https://cdn.shopify.com/s/files/1/0206/6982/5088/files/womesn-size-guide.png?v=1556826868"
                             alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="shopify-footer-section-stockits">
        <a href="#" class="article__grid-image">
            <div class="image-wrap" style="height: 0; padding-bottom: 25.142857142857146%;">
                <img class="lazyautosizes lazyloaded" data-widths="[180, 360, 540, 720, 900, 1080]"
                     data-aspectratio="3.977272727272727" data-sizes="auto" alt=""
                     data-srcset="//cdn.shopify.com/s/files/1/0206/6982/5088/files/FINDUS-INSTORE_01-3_180x.png?v=1581430862 180w, //cdn.shopify.com/s/files/1/0206/6982/5088/files/FINDUS-INSTORE_01-3_360x.png?v=1581430862 360w, //cdn.shopify.com/s/files/1/0206/6982/5088/files/FINDUS-INSTORE_01-3_540x.png?v=1581430862 540w, //cdn.shopify.com/s/files/1/0206/6982/5088/files/FINDUS-INSTORE_01-3_720x.png?v=1581430862 720w, //cdn.shopify.com/s/files/1/0206/6982/5088/files/FINDUS-INSTORE_01-3_900x.png?v=1581430862 900w, //cdn.shopify.com/s/files/1/0206/6982/5088/files/FINDUS-INSTORE_01-3_1080x.png?v=1581430862 1080w"
                     sizes="699px"
                     srcset="//cdn.shopify.com/s/files/1/0206/6982/5088/files/FINDUS-INSTORE_01-3_180x.png?v=1581430862 180w, //cdn.shopify.com/s/files/1/0206/6982/5088/files/FINDUS-INSTORE_01-3_360x.png?v=1581430862 360w, //cdn.shopify.com/s/files/1/0206/6982/5088/files/FINDUS-INSTORE_01-3_540x.png?v=1581430862 540w, //cdn.shopify.com/s/files/1/0206/6982/5088/files/FINDUS-INSTORE_01-3_720x.png?v=1581430862 720w, //cdn.shopify.com/s/files/1/0206/6982/5088/files/FINDUS-INSTORE_01-3_900x.png?v=1581430862 900w, //cdn.shopify.com/s/files/1/0206/6982/5088/files/FINDUS-INSTORE_01-3_1080x.png?v=1581430862 1080w">
                <noscript>
                    <img class="lazyloaded"
                         src="//cdn.shopify.com/s/files/1/0206/6982/5088/files/FINDUS-INSTORE_01-3_400x.png?v=1581430862"
                         alt="&lt;center&gt;HARDCORE STOCKISTS&lt;/center&gt;">
                </noscript>
            </div>
        </a>
    </div>
</div>